<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cdboost.collect.dao.DeviceMeterParamMapper">
    <resultMap id="BaseResultMap" type="cn.com.cdboost.collect.model.DeviceMeterParam">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="jzq_cno" property="jzqCno" jdbcType="VARCHAR"/>
        <result column="cno" property="cno" jdbcType="VARCHAR"/>
        <result column="comm_setup_sn" property="commSetupSn" jdbcType="INTEGER"/>
        <result column="comm_point_code" property="commPointCode" jdbcType="INTEGER"/>
        <result column="comm_port" property="commPort" jdbcType="INTEGER"/>
        <result column="comm_addr" property="commAddr" jdbcType="VARCHAR"/>
        <result column="comm_power_INTEGER" property="commPowerINTEGER" jdbcType="INTEGER"/>
        <result column="comm_power_decimal" property="commPowerDecimal" jdbcType="INTEGER"/>
        <result column="comm_collection_no" property="commCollectionNo" jdbcType="VARCHAR"/>
        <result column="comm_cons_type_code" property="commConsTypeCode" jdbcType="INTEGER"/>
        <result column="comm_elect_type_code" property="commElectTypeCode" jdbcType="INTEGER"/>
        <result column="send_flag" property="sendFlag" jdbcType="INTEGER"/>
        <result column="mote_eui" property="moteEui" jdbcType="VARCHAR"/>
        <result column="app_eui" property="appEui" jdbcType="VARCHAR"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="mote_type" property="moteType" jdbcType="CHAR"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="ratio" property="ratio" jdbcType="INTEGER"/>
        <result column="syn_record_time" property="synRecordTime" jdbcType="TIMESTAMP"/>
        <result column="local_control" property="localControl" jdbcType="INTEGER"/>
        <result column="device_type" property="deviceType" jdbcType="INTEGER"/>
        <result column="collect_dev_typ" property="collectDevType" jdbcType="INTEGER"/>
        <result column="dict_item_value" property="dictItemValue" jdbcType="INTEGER"/>
        <result column="plan_index" property="planIndex" jdbcType="VARCHAR"/>
        <result column="rate_index" property="rateIndex" jdbcType="INTEGER"/>
        <result column="step_index" property="stepIndex" jdbcType="INTEGER"/>
        <result column="is_important" property="isImportant" jdbcType="INTEGER"/>
        <result column="customer_no" property="customerNo" jdbcType="VARCHAR"/>
        <result column="param_flag" property="paramFlag" jdbcType="VARCHAR"/>
        <result column="comm_rule" property="commRule" jdbcType="INTEGER"/>
        <result column="comm_factor_cnt" property="commFactorCnt" jdbcType="INTEGER"/>
        <result column="key_grade" property="keyGrade" jdbcType="VARCHAR"/>
        <result column="meter_user_name" property="meterUserName" jdbcType="VARCHAR"/>
        <result column="meter_user_pwd" property="meterUserPwd" jdbcType="VARCHAR"/>
        <result column="is_valve_control" property="isValveControl" jdbcType="INTEGER"/>

    </resultMap>

    <resultMap id="importantCustomerDto" type="cn.com.cdboost.collect.dto.ImportantCustomerInfo">
        <result column="is_account" property="isImportant" jdbcType="VARCHAR"/>
        <result column="device_no" property="deviceNo" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="customer_no" property="customerNo" jdbcType="VARCHAR"/>
        <result column="meter_user_no" property="meterUserNo" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_contact" property="customerContact" jdbcType="VARCHAR"/>
        <result column="customer_addr" property="customerAddr" jdbcType="VARCHAR"/>
        <result column="jzq_cno" property="jzqCno" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="install_addr" property="InstallAddr" jdbcType="VARCHAR"/>
        <result column="device_type" property="deviceType" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="importantCurveDerailDto" type="cn.com.cdboost.collect.dto.ImportantCurveDerailDTO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="cno" property="cno" jdbcType="VARCHAR"/>
        <result column="collect_time" property="collectTime" jdbcType="VARCHAR"/>
        <result column="instant_power" property="instantPower" jdbcType="VARCHAR"/>
        <result column="instant_power_a" property="instantPowerA" jdbcType="VARCHAR"/>
        <result column="instant_power_b" property="instantPowerB" jdbcType="VARCHAR"/>
        <result column="instant_power_c" property="instantPowerC" jdbcType="VARCHAR"/>
        <result column="customer_addr" property="customerAddr" jdbcType="VARCHAR"/>
        <result column="customer_contact" property="customerContact" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_no" property="customerNo" jdbcType="VARCHAR"/>
        <result column="meter_user_no" property="meterUserNo" jdbcType="VARCHAR"/>
        <result column="install_addr" property="InstallAddr" jdbcType="VARCHAR"/>
        <result column="collect_date" property="collectDate" jdbcType="VARCHAR"/>
        <result column="active_total" property="activeTotal" jdbcType="VARCHAR"/>
        <result column="unactive_total" property="unactiveTotal" jdbcType="VARCHAR"/>
        <result column="re_active_total" property="reActiveTotal" jdbcType="VARCHAR"/>
        <result column="re_unactive_total" property="reUnactiveTotal" jdbcType="VARCHAR"/>
        <result column="power" property="power" jdbcType="VARCHAR"/>
        <result column="un_power" property="unPower" jdbcType="VARCHAR"/>
        <result column="voltage_a" property="voltageA" jdbcType="VARCHAR"/>
        <result column="voltage_b" property="voltageB" jdbcType="VARCHAR"/>
        <result column="voltage_c" property="voltageC" jdbcType="VARCHAR"/>
        <result column="current_a" property="currentA" jdbcType="VARCHAR"/>
        <result column="current_b" property="currentB" jdbcType="VARCHAR"/>
        <result column="current_c" property="currentC" jdbcType="VARCHAR"/>
        <result column="current_z" property="currentZ" jdbcType="VARCHAR"/>
        <result column="active_total_value" property="activeTotalValue" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 写入电表参数 -->
    <select id="creatDeviceMeterParam" parameterType="cn.com.cdboost.collect.dto.param.DeviceMeterParamVo"
            statementType="CALLABLE">
    {call PRC_B_d_DeviceMeterParamAdd(
    #{jzqCno,mode=IN,jdbcType=VARCHAR},
    #{cno,mode=IN,jdbcType=VARCHAR},
    #{commCollectionNo,mode=IN,jdbcType=VARCHAR},
    #{commFactorCnt,mode=IN,jdbcType=VARCHAR},
    #{commPort,mode=IN,jdbcType=VARCHAR},
    #{commRule,mode=IN,jdbcType=VARCHAR},
    #{commAddr,mode=IN,jdbcType=VARCHAR},
    #{moteEui,mode=IN,jdbcType=VARCHAR},
    #{appEui,mode=IN,jdbcType=VARCHAR},
    #{appKey,mode=IN,jdbcType=VARCHAR},
    #{moteType,mode=IN,jdbcType=VARCHAR},
    #{meterType,mode=IN,jdbcType=INTEGER},
    #{ratio,mode=IN,jdbcType=INTEGER},
    #{localControl,mode=IN,jdbcType=INTEGER},
    #{collectDevType,mode=IN,jdbcType=INTEGER},
    #{deviceType,mode=IN,jdbcType=INTEGER},
    #{dictItemValue,mode=IN,jdbcType=VARCHAR},
    #{isImportant,mode=IN,jdbcType=INTEGER},
    #{customerNo,mode=IN,jdbcType=VARCHAR},
    #{paramFlag,mode=IN,jdbcType=VARCHAR},
    #{result,mode=OUT,jdbcType=VARCHAR})}
  </select>
    <select id="queryImportantCustomer" parameterType="cn.com.cdboost.collect.dto.param.ImportantCustomerVo"
            statementType="CALLABLE" resultMap="importantCustomerDto">
    {call PRC_W_D_ImpCstGet(
    #{deviceNo,mode=IN,jdbcType=VARCHAR},
    #{customerName,mode=IN,jdbcType=VARCHAR},
    #{customerAddr,mode=IN,jdbcType=VARCHAR},
    #{customerContact,mode=IN,jdbcType=VARCHAR},
    #{meterUserNo,mode=IN,jdbcType=VARCHAR},
    #{customerId,mode=IN,jdbcType=VARCHAR},
    #{propertyName,mode=IN,jdbcType=VARCHAR},
    #{pageSize,mode=IN,jdbcType=INTEGER},
    #{pageNumber,mode=IN,jdbcType=INTEGER},
    #{rowCount,mode=OUT,jdbcType=INTEGER})}
  </select>
    <select id="queryImportantCurve" parameterType="cn.com.cdboost.collect.dto.param.ImportantCurveVo"
            statementType="CALLABLE" resultType="cn.com.cdboost.collect.dto.ImportantCurveInfo">
    {call PRC_W_D_ImpCurveGet(
    #{customerNo,mode=IN,jdbcType=VARCHAR},
    #{meterUserNo,mode=IN,jdbcType=VARCHAR},
    #{deviceType,mode=IN,jdbcType=VARCHAR},
    #{startTime,mode=IN,jdbcType=VARCHAR},
    #{endTime,mode=IN,jdbcType=VARCHAR},
    #{model,mode=IN,jdbcType=INTEGER})}
  </select>
    <select id="queryImportCollection" parameterType="cn.com.cdboost.collect.dto.param.ImportantCurveVo"
            statementType="CALLABLE" resultMap="importantCurveDerailDto">
        {call PRC_W_D_ImpCurveDerail(
        #{customerNo,mode=IN,jdbcType=VARCHAR},
        #{meterUserNo,mode=IN,jdbcType=VARCHAR},
        #{deviceType,mode=IN,jdbcType=VARCHAR},
        #{startTime,mode=IN,jdbcType=VARCHAR},
        #{endTime,mode=IN,jdbcType=VARCHAR},
        #{model,mode=IN,jdbcType=INTEGER})}
    </select>
    <select id="getImpDataList" parameterType="cn.com.cdboost.collect.dto.param.RealTimeDataListParam"
            statementType="CALLABLE" resultMap="importantCurveDerailDto">
        {call PRC_W_D_ImpCollectDataGetOne(
        #{dataType,mode=IN,jdbcType=INTEGER},
        #{startDate,mode=IN,jdbcType=VARCHAR},
        #{endDate,mode=IN,jdbcType=VARCHAR},
        #{meterUserNo,mode=IN,jdbcType=VARCHAR},
        #{customerNo,mode=IN,jdbcType=VARCHAR},
        #{pageSize,mode=IN,jdbcType=INTEGER},
        #{pageNumber,mode=IN,jdbcType=INTEGER},
        #{pageEndIndex,mode=IN,jdbcType=INTEGER},
        #{total,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>
    <select id="queryImportantABC" parameterType="cn.com.cdboost.collect.dto.param.ImportantABCVo"
            statementType="CALLABLE" resultType="cn.com.cdboost.collect.dto.ImportantCurveInfo">
        SELECT collect_time  xAxis,${searchType} yAxis
              from em_d_imp_elecdata  where collect_time BETWEEN #{startTime} and
             #{endTime}
            and customer_no=#{customerNo} and meter_user_no=#{meterUserNo} and ${searchType}>=0
    </select>

    <select id="queryImpCount" resultType="java.lang.Integer">
        select count(*) from em_d_deviceinfo d
        INNER JOIN em_d_devicemeterparam m ON d.cno=m.cno
        where d.org_no IN
        <foreach collection="orgNoList" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
        AND m.comm_point_code > 0 AND m.is_important=1
    </select>
</mapper>